/* Setup */
html, body {
	margin: 0;
	padding: 0;
	font-family: Bariol, sans-serif;
}

body * {
  font-family: Bariol, sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.clear {
  float: none;
  clear: both;
}

.hidden {
  display: none;
}

ul {
	list-style: none;
}

a {
  color: inherit;
	text-decoration: none;
}

.hidden {
  display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.disabled {
  opacity: 0.2;
}

*:disabled {
  opacity: 0.2;
}

form {
  margin: 0;
  padding: 0;
}

input, select, textarea, button {
  font-family: Bariol, sans-serif;
  outline: none;
  border: none;
  margin: 0;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

@font-face {
  font-family: Bariol;
  src: url(/fonts/Bariol_Regular.ttf);
}

@font-face {
  font-family: Bariol;
  src: url(/fonts/Bariol_Bold.ttf);
  font-weight: bold;
}

/* Page */
.container {
	width: 1000px;
	margin: 100px auto 40px;
	text-align: center;
}

.container .logo {
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 10px;
	color: black;
	display: block;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.container .header {
	font-size: 35px;
	font-weight: bold;
	color: #009AF1;
	margin-bottom: 125px;
}

.container .options {
	width: 550px;
	margin: 0 auto;
}

.container .option {
	width: 250px;
	padding: 30px 0;
	text-align: center;
	border: solid 1px transparent;
	border-radius: 4px;
}

.container .option img {
	width: 120px;
	height: 120px;
	margin-bottom: 15px;
}

.container .option div {
	font-size: 30px;
	color: #009AF1;
}

.container .option:hover {
	border-color: #009AF1;
	background: #fcfcfc;
}

.main {
	width: 50%;
	padding: 35px 30px;
	display: inline-block;
	box-sizing: border-box;
}

.main .logo {
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 20px;
	color: black;
	display: block;
}

.main .information {
	font-size: 24px;
	color: #555;
	margin-bottom: 50px;
}

.main .group {
	margin-bottom: 35px;
}

.main .group .header {
	font-size: 24px;
	margin-bottom: 10px;
	color: #666;
}

.main .group .input_container {
	position: relative;
}

.main .group .input_container .input {
	padding: 15px 10px;
	font-size: 20px;
	font-weight: bold;
	background: white;
	border: solid 1px #C5C5C5;
	border-radius: 4px;
	width: 100%;
	height: 55px;
}

.main .group .input_container .input.textarea {
	height: 80px;
}

.main .group .input_container .input:hover,
.main .group .input_container .input:active {
	border-color: #05B0FF;
}

.main .form .button {
	margin: 0 auto;
	padding: 14px 2pc 1pc;
	border-radius: .25rem;
	font-size: 24px;
	font-weight: bold;
	background: #1EB379;
	color: white;
	cursor: pointer;
}

.main .form .button_container {
	text-align: center;
}

.main .form .button:hover {
	border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

.main .code {
	width: 100%;
	word-wrap: break-word;
	background: #fcfcfc;
	border: solid 1px rgba(0,0,0,0.1);
	padding: 15px;
	border-radius: 4px;
	box-sizing: border-box;
	white-space:pre-wrap;
}

.code_container {
	display: none;
}

.preview {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
	display: inline-block;
}

.preview.blue {
	background: #05B0FF;
}

.preview.purple {
	background: #6E4090;
}

.preview .header {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	text-align: center;
	color: rgba(0,0,0,0.4);
	font-size: 36px;
	font-weight: bold;
}

.preview .iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	border-radius: 4px;
	border: none;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}